<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <!-- Optional: d3.js for dynamic charts -->
    <script src="https://d3js.org/d3.v5.min.js"></script> 
    <!-- Script for the footer -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> 

    <!-- Bootstrap CSS version 4.5.3 -->
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous"> -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous"> 
    
    <!-- Google Fonts API -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Emblema+One&family=Faster+One&family=Monoton&family=Syncopate:wght@700&display=swap" rel="stylesheet">

    <!-- SCROLL UP ICON NEEDS FONT AWESOME FOR CHEVRON UP ICON -->
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    
    <!-- vendor CSS Files * Author: BootstrapMade.com -->
    <link href="../assets/icofont/icofont.min.css" rel="stylesheet">
    
    <!-- Custom CSS -->
    <link rel="stylesheet" href="../assets/css/our-story.css">
    <!-- CSS for scroll to top arrow -->
    <!-- <link rel="stylesheet" href="../assets/css/styles_a.css"> -->
    
    <title>Smith Consulting Group</title>
    <!-- Insert company logo/icon -->
    <!-- <link rel="icon" href="" -->
    
    <!-- FOOTER STYLESHEETS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">

    <!-- Custom CSS -->
    <!-- <link rel="stylesheet" href="../assets/css/main.css"> -->
    <link rel="stylesheet" href="../assets/css/neil_styles.css">

  </head>
  
  <body>

    <div class="container-fluid">     
      <!-- <nav class="navbar navbar-expand-lg navbar-dark" style="background-color:black; font-weight: bolder;"> -->
      <nav class="navbar navbar-expand-lg py-4 navbar-dark navbar-custom">
        <a class="navbar-brand" href="../index.html" data-tooltip= "Go to the homepage" data-tooltip-location="bottom" >INSIGHT</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav ml-auto">
            <!-- <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Who We Are
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="../template/our_story.html">Our Story</a>
                <a class="dropdown-item" href="../template/insights.html">Insights</a>
                <a class="dropdown-item" href="../template/contact.html">Contact Us</a>
              </div>
            </li> -->
            <li class="nav-item">
              <a class="nav-link" href="../index.html">HOME </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="who-we-are.html">WHO WE ARE <span class="sr-only">(current)</span></a>
            </li>          
            <li class="nav-item">
              <a class="nav-link" href="what-we-do.html">WHAT WE DO</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="who-we-serve.html">WHO WE SERVE</a>
            </li>
            <!-- <li class="nav-item">
              <a class="nav-link" href="news.html">NEWS</a>
            </li> -->
            <!-- <li class="nav-item">
              <a class="nav-link" href="insights.html">INSIGHTS</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="solutions.html">SOLUTIONS</a>
            </li> -->
            <!-- <li class="nav-item">
              <a class="nav-link" href="contact-us.html">CONTACT US</a>
            </li> -->
            
          </ul>
        </div>
      </nav>
    
      <!-- CONTAINER BEGINS HERE -->
      <div id="news" class="container-fluid">
        
  

          <div class="row">
            <img src="../assets/img/confroom1.jpg" alt="Conference room" class="center">
            <div class="centered">Our Story Here At Insight</div>
          </div>

          <div>
            <ul class="nav nav-pills nav-fill mb-3" id="pills-tab" role="tablist">
              <li class="nav-item" role="presentation">
                <a class="nav-link active" id="mission-tab" data-toggle="pill" href="#mission" role="tab" aria-controls="mission" aria-selected="true" style="color: white;">Our Mission</a>
              </li>
              <li class="nav-item" role="presentation">
                <a class="nav-link" id="history-tab" data-toggle="pill" href="#history" role="tab" aria-controls="history" aria-selected="false"  style="color: white;">Our History</a>
              </li>
              <li class="nav-item" role="presentation">
                <a class="nav-link" id="team-tab" data-toggle="pill" href="#team" role="tab" aria-controls="team" aria-selected="false"  style="color: white;">Our Team</a>
              </li>
              <!-- This is the code for the Our current clients element on the Who We Are. -->
              <!-- <li class="nav-item" role="presentation">
                <a class="nav-link" id="clients-tab" data-toggle="pill" href="#clients" role="tab" aria-controls="clients" aria-selected="false"  style="color: white;">Our Current Clients</a>
              </li> -->
              
            </ul>

            <div id="myTabContent" class="tab-content" style= "background-color: white; margin-top: 20px; margin-bottom: 175px;  padding: 100px 130px; font-size: x-large;">
              <div class="tab-pane fade show active" id="mission" role="tabpanel" aria-labelledby="mission-tab">It’s no secret that the healthcare industry is complex. With hundreds of laws, policies, and regulations, the wide range of potential professions and jobs, and daily developments in diagnosis, treatment, and medication, healthcare organizations have a lot to keep track of — and doing so thoroughly and professionally is absolutely vital to their success and the health of their patients.

                For example, a mistake in advertising can be detrimental to a company’s image, but a mistake in healthcare can result in serious injury or illness — and that does more than impact a company’s image. In fact, it can derail a healthcare company almost immediately and put them out of business.
                
                That’s why healthcare consultants are so valuable. Although becoming a healthcare consultant takes years of education, time, and skill development, it’s a position that’s crucial to the success of healthcare organizations across the globe.
              </div>

              <div class="tab-pane fade" id="team" role="tabpanel" aria-labelledby="team-tab"> 
                <div class="container mt-4">
                  <div class="row">
                      <div class="col-auto mb-3">
                          <div class="card">
                            <img src="../assets/img/MiddleSchoolStudentsSmiling.jpeg" class="card-img-top" alt="...">
                              <div class="card-body">
                                  <h5 class="card-title">Katie</h5>
                                  <h6 class="card-subtitle mb-2 text-muted">Current Employee</h6>
                                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                  <a href="#" class="card-link">LinkedIn</a>
                              </div>
                          </div>
                      </div>
                      <div class="col-auto mb-3">
                          <div class="card">
                            <img src="../assets/img/MiddleSchoolStudentsSmiling.jpeg" class="card-img-top" alt="...">
                              <div class="card-body">
                                  <h5 class="card-title">Alvaro Mcrae</h5>
                                  <h6 class="card-subtitle mb-2 text-muted">Developer</h6>
                                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                  <a href="#" class="card-link">LinkedIn</a>
                              </div>
                          </div>
                      </div>
                      <div class="col-auto mb-3">
                          <div class="card">
                            <img src="../assets/img/MiddleSchoolStudentsSmiling.jpeg" class="card-img-top" alt="...">
                              <div class="card-body">
                                  <h5 class="card-title">Donley Gustave</h5>
                                  <h6 class="card-subtitle mb-2 text-muted">Developer</h6>
                                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                  <a href="#" class="card-link">LinkedIn</a>
                              </div>
                          </div>
                      </div>
                      <div class="col-auto mb-3">
                          <div class="card">
                            <img src="../assets/img/MiddleSchoolStudentsSmiling.jpeg" class="card-img-top" alt="...">
                              <div class="card-body">
                                  <h5 class="card-title">Neil Damaraju</h5>
                                  <h6 class="card-subtitle mb-2 text-muted">Developer</h6>
                                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                  <a href="#" class="card-link">LinkedIn</a>
                              </div>
                        </div>
                    </div>  
                  </div>
                </div>
              </div>
              <!-- <div class="tab-pane fade" id="clients" role="tabpanel" aria-labelledby="clients-tab">Welcome! We are looking forward to adding you to our wonderful list of clients. 
                We will be posting a list of our current clients in the coming days! Feel free to explore the rest of our website!
              </div> -->

              <div class="tab-pane fade" id="history" role="tabpanel" aria-labelledby="history-tab">
                <div class="timeline-area">
                  <div class="container">
                    <div class="timelines">
                      <h2>Where we began</h2>
                    </div>
                    <div class="all-timelines">
                      <!--SINGLE TIMELINE-->
                      <div class="single-timeline d-flex-2">
                        <div class="timeline-blank"></div>
                        <div class="timeline-text d-flex-2">
                          <span>
                            <h6>April 2015</h6> — The launch of Aryacoin; AYA ICO, resulting in over 30BTC collected
                          </span>
                          <div class="t-square"></div>
                        </div>
                      </div>
                      <!--SINGLE TIMELINE-->
                      <div class="single-timeline d-flex-2">
                        <div class="timeline-blank"></div>
                        <div class="timeline-text d-flex-2">
                          <span>
                            <h6>December 2015 </h6>— The launch of AYA Pay
                          </span>
                          <div class="t-square"></div>
                        </div>
                      </div>
                      <!--SINGLE TIMELINE-->
                      <div class="single-timeline d-flex-2">
                        <div class="timeline-blank"></div>
                        <div class="timeline-text d-flex-2">
                          <span>
                            <h6>April 2017</h6> — The successful Hamedan Hardfork, supported by all AYA exchanges, aimed at integrating the dPoW algorithm, improving the security of the AYA blockchain.
                          </span>
                          <div class="t-square"></div>
                        </div>
                      </div>
                      <!--SINGLE TIMELINE-->
                      <div class="single-timeline d-flex-2">
                        <div class="timeline-blank"></div>
                        <div class="timeline-text d-flex-2">
                          <span>
                            <h6>June 2017</h6> — Aryna Exchange goes live, opening more trading opportunities globally
                          </span>
                          <div class="t-square"></div>
                        </div>
                      </div>
                      <!--SINGLE TIMELINE-->
                      <div class="single-timeline d-flex-2">
                        <div class="timeline-blank"></div>
                        <div class="timeline-text d-flex-2">
                          <span>
                            <h6>July 2018</h6> — The enabling of our Coin Exchanger
                          </span>
                          <div class="t-square"></div>
                        </div>
                      </div>
                      <!--SINGLE TIMELINE-->
                      <div class="single-timeline d-flex-2">
                        <div class="timeline-blank"></div>
                        <div class="timeline-text d-flex-2">
                          <span>
                            <h6>November 2020</h6> — The implementation of Smart Contracts into the Aryacoin Ecosystem
                          </span>
                          <div class="t-square"></div>
                        </div>
                      </div>
                      <!--SINGLE TIMELINE-->
                      <div class="single-timeline d-flex-2">
                        <div class="timeline-blank"></div>
                        <div class="timeline-text d-flex-2">
                          <span>
                            <h6>February 2021</h6> — Alef B goes live (more details coming soon)
                          </span>
                          <div class="t-square"></div>
                        </div>
                      </div>
                    </div>
                  </div>
              </div>
            </div>
            
            <div id="comp_car" class="container my-4">
              <p style="font-size: xx-large;">
                <strong>
                  Here are some of our success stories with current clients.
                </strong>
  
        
                <!--Carousel Wrapper-->
                <div id="multi-item-example" class="carousel slide carousel-multi-item" data-ride="carousel">
                  <!--Controls-->
                  <div class="controls-top">
                    <a class="btn-floating" href="#multi-item-example" data-slide="prev"><i class="fas fa-chevron-left"></i></a>
                    <a class="btn-floating" href="#multi-item-example" data-slide="next"><i
                        class="fas fa-chevron-right"></i></a>
                  </div>
                
                  <!--Indicators-->

                  <ol class="carousel-indicators">
                    <li data-target="#multi-item-example" data-slide-to="0" class="active"></li>
                    <li data-target="#multi-item-example" data-slide-to="1"></li>
                  </ol>

                  <!--Slides-->
                  <div class="carousel-inner" role="listbox">
                
                    <!--First slide-->
                    <div class="carousel-item active">
                
                      <div class="col-md-3" style="float:left">
                      <div class="card mb-2">
                          <img class="card-img-top"
                            src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(60).jpg" alt="Card image cap">
                          <div class="card-body">
                            <h4 class="card-title">Story 1</h4>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                              card's content.</p>
                            <a class="btn btn-primary">Full Story</a>
                          </div>
                        </div>
                      </div>
                
                      <div class="col-md-3" style="float:left">
                        <div class="card mb-2">
                          <img class="card-img-top"
                            src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(60).jpg" alt="Card image cap">
                          <div class="card-body">
                            <h4 class="card-title">Story 2</h4>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                              card's content.</p>
                            <a class="btn btn-primary">Full Story</a>
                          </div>
                        </div>
                      </div>
                
                      <div class="col-md-3" style="float:left">
                        <div class="card mb-2">
                          <img class="card-img-top"
                            src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(60).jpg" alt="Card image cap">
                          <div class="card-body">
                            <h4 class="card-title">Story 3</h4>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                              card's content.</p>
                            <a class="btn btn-primary">Full Story</a>
                          </div>
                        </div>
                      </div>
                      
                      <div class="col-md-3" style="float:left">
                      <div class="card mb-2">
                          <img class="card-img-top"
                            src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(60).jpg" alt="Card image cap">
                          <div class="card-body">
                            <h4 class="card-title">Story 4</h4>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                              card's content.</p>
                            <a class="btn btn-primary">Full Story</a>
                          </div>
                        </div>
                      </div>
                
                    </div>
                    <!--/.First slide-->
                
                    <!--Second slide-->
                    <div class="carousel-item">
                
                      <div class="col-md-3" style="float:left">
                        <div class="card mb-2">
                          <img class="card-img-top"
                            src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(60).jpg" alt="Card image cap">
                          <div class="card-body">
                            <h4 class="card-title">Story 5</h4>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                              card's content.</p>
                            <a class="btn btn-primary">Full Story</a>
                          </div>
                        </div>
                      </div>
                
                      <div class="col-md-3" style="float:left">
                        <div class="card mb-2">
                          <img class="card-img-top"
                            src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(47).jpg" alt="Card image cap">
                          <div class="card-body">
                            <h4 class="card-title">Story 6</h4>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                              card's content.</p>
                            <a class="btn btn-primary">Full Story</a>
                          </div>
                        </div>
                      </div>
                
                      <div class="col-md-3" style="float:left">
                        <div class="card mb-2">
                          <img class="card-img-top"
                            src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(48).jpg" alt="Card image cap">
                          <div class="card-body">
                            <h4 class="card-title">Story 7</h4>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                              card's content.</p>
                            <a class="btn btn-primary">Full Story</a>
                          </div>
                        </div>
                      </div>
                      
                      <div class="col-md-3" style="float:left">
                        <div class="card mb-2">
                          <img class="card-img-top"
                            src="https://mdbootstrap.com/img/Photos/Horizontal/City/4-col/img%20(47).jpg" alt="Card image cap">
                          <div class="card-body">
                            <h4 class="card-title">Story 8</h4>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                              card's content.</p>
                            <a class="btn btn-primary">Full Story</a>
                          </div>
                        </div>
                      </div>
                    </div>        
                  </div>
                </div>
              </div>
          </div>
          </div>
        </div>
      </div>

        

      <!--Footer starts here-->
      <!-- Credit to https://bootsnipp.com/snippets/bxDBA -->
      <footer class="main-footer">
        <div class="container bottom_border">
        <div class="row">
        <div class=" col-sm-4 col-md col-sm-4  col-12 col">
        <h5 class="headin5_amrc col_white_amrc pt2">Find us</h5>
        <!--headin5_amrc-->
        <p class="mb10">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
        <p><i class="fa fa-location-arrow"></i> Atlanta, GA 30307 </p>
        <p><i class="fa fa-phone"></i>  +404-555-5555  </p>
        <p><i class="fa fa fa-envelope"></i> info@smithcolsulting.com  </p>
        
        </div>
        
        <div class=" col-sm-4 col-md  col-6 col">
        <h5 class="headin5_amrc col_white_amrc pt2">News</h5>
        <!--headin5_amrc-->
        <ul class="footer_ul_amrc">
        <li><a href="">Mental Health</a></li>
        <li><a href="">Schools</a></li>
        <li><a href="">COVID-19</a></li>
        <li><a href="">Media</a></li>
        <li><a href="">Atlanta</a></li>
        </ul>
        <!--footer_ul_amrc ends here-->
        </div>
        
        
        <div class=" col-sm-4 col-md  col-6 col">
        <h5 class="headin5_amrc col_white_amrc pt2">Quick links</h5>
        <!--headin5_amrc-->
        <ul class="footer_ul_amrc">
          <li><a href="../index.html">Home</a></li>
          <li><a href="about-us.html">Who we are</a></li>
        <li><a href="what-we-do.html">What we do</a></li>
        <li><a href="who-we-serve.html">Who we serve</a></li>
        <li><a href="news.html">News</a></li>
        <li><a href="contact-us.html">Contact us</a></li>
          <!-- <li><a href="insights.html">Insights</a></li>
          <li><a href="solutions.html">Solutions</a></li> -->
          </ul>
          <!--footer_ul_amrc ends here-->
          </div>
          
          
          <div class=" col-sm-4 col-md  col-12 col">
          <h5 class="headin5_amrc col_white_amrc pt2">Follow us</h5>
          <!--headin5_amrc ends here-->
          
          <ul class="footer_ul2_amrc">
          <li><a href="#"><i class="fab fa-twitter fleft padding-right"></i> </a><p>Lorem Ipsum is simply dummy text of the printing...<a href="#">https://www.lipsum.com/</a></p></li>
          <li><a href="#"><i class="fab fa-twitter fleft padding-right"></i> </a><p>Lorem Ipsum is simply dummy text of the printing...<a href="#">https://www.lipsum.com/</a></p></li>
          <li><a href="#"><i class="fab fa-twitter fleft padding-right"></i> </a><p>Lorem Ipsum is simply dummy text of the printing...<a href="#">https://www.lipsum.com/</a></p></li>
          </ul>
          <!--footer_ul2_amrc ends here-->
          </div>
          </div>
          </div>
          
          
          <div class="container">
          <ul class="foote_bottom_ul_amrc">
          <li><a href="../index.html">Home</a></li>
          <li><a href="who-we-are.html">Who we are</a></li>
          <li><a href="who-we-serve.html">Who we serve</a></li>
          <li><a href="what-we-do.html">What we do</a></li>
          <!-- <li><a href="solutions.html">Solutions</a></li> -->
          <li><a href="contact-us.html">Contact us</a></li>
          </ul>
          <!--foote_bottom_ul_amrc ends here-->
        <p class="text-center">Copyright @2021 | Designed for INSIGHTS <a href="#"></a></p>

        <ul class="social_footer_ul">
          <li><a href="" data-tooltip= "Visit our facebook page" data-tooltip-location="left" ><i class="fab fa-facebook-f"></i></a></li>
          <li><a href="" data-tooltip= "Visit our Twitter page" data-tooltip-location="left" ><i class="fab fa-twitter"></i></a></li>
          <li><a href="" data-tooltip= "Visit our LinkedIn page" data-tooltip-location="left" ><i class="fab fa-linkedin"></i></a></li>
          <li><a href="" data-tooltip= "Visit our Instagram page" data-tooltip-location="left" ><i class="fab fa-instagram"></i></a></li>
          </ul>
        <!--social_footer_ul ends here-->
        </div>
        
      </footer>
  
    </div>

    <!-- SCROLL TO TOP OF PAGE BUTTON BEGINS HERE -->
    <a href="#" id="return-to-top" style="display: none;">
      <i class="icon-chevron-up"></i>
    </a>
    
    <!-- Load jquery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  
    <!-- Optional JavaScript -->
    <script type="text/javascript" src="../assets/js/app.js"></script>

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <!-- <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script> -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script> -->

    <!-- Option 2: jQuery, Popper.js, and Bootstrap JS ver 4.5.3-->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>

    <!-- Option 3: jQuery, Popper.js, and Bootstrap JS ver 4.5.2-->
    <!-- <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script> -->
    
    <!-- Insert these scripts at the bottom of the HTML, but before you use any Firebase services -->
    <!-- Firebase App (the core Firebase SDK) is always required and must be listed first -->
    <script src="/__/firebase/8.2.6/firebase-app.js"></script>

    <!-- If you enabled Analytics in your project, add the Firebase SDK for Analytics -->
    <script src="/__/firebase/8.2.6/firebase-analytics.js"></script>

    <!-- Add Firebase products that you want to use -->
    <script src="/__/firebase/8.2.6/firebase-auth.js"></script>
    <script src="/__/firebase/8.2.6/firebase-firestore.js"></script>

  </body>
</html>