/* ==========================================================================
  #Global Varibles
 ========================================================================== */

 :root {
  /* For Standard font all pages:*/
  --font: 'Syncopate', sans-serif;
  /* Colors for background, glow effects, text: */

  --opaque:   opacity: 0.6;
  --card-shadow: 0px 10px 15px rgba(0,0,0,0.1);
  /* For all images rendered on page regardless of size */
  --img-border-radius: 60%;
  /* Sizing containers, padding on page */
  --fullwidth: 100%;
}


/* ==========================================================================
  #CUSTOM NAVBAR STYLING BEGINS HERE
 ========================================================================== */
.navbar-custom {
  /* background-color:#12172b; */
  background-color: #80A142;
}
/* change nav link text color */
.navbar-custom .nav-item {
  /* color: rgba(255,255,255,.8); */
  color: black;
  font-weight: bolder;
  font-size: 17px;
}

.navbar-custom .navbar-brand {
  color:white;
  font-size: 45px;
  font-weight: bolder;
  font-family: 'Syncopate', sans-serif;
}
/* change the link color */
.navbar-custom .navbar-nav .nav-link {
  color:white;
}
/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
  color: #FFF49C;
}


/* Hide the carousel text when the screen is less than 600 pixels wide */
@media (max-width: 600px) {
  .carousel-caption {
    display: none; 
  }
}

/* ==========================================================================
  #STYLING FOR THE TABS IN OUR STORY PAGE
 ========================================================================== */
#pills-tab {
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 20px;  
}
#pills-tabContent{
  text-align: justify;
  font-family: 'Syncopate', sans-serif;
}

/* STYLING FOR CARD COLUMNS */
/* #card-columns {
  @include media-breakpoint-only(lg) {
    column-count: 4;
  }
  @include media-breakpoint-only(xl) {
    column-count: 4;
  }
} */

/* ==========================================================================
  #SOLUTIONS
 ========================================================================== */

#sol2{
  height: 300px;
}


/* ==========================================================================
  #EMPLOYEE PROFILE OPTION 1 STYLING HERE
 ========================================================================== */
/* @import url('https://fonts.googleapis.com/css2?family=Asap&family=Open+Sans&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Scope+One&family=Vesper+Libre&display=swap');
.kontainer {
  background-color: #DFE2D2 ;
  font-family: 'Vesper Libre', serif;
  color: #80A142;
  font-weight: bolder;
  line-height:normal; 
}
.title-row {
  background-color: #eed5cc;
  
}
.title {
  font-size: 60px;
  color: white;
}
.title span {
  font-style: italic;
  font-size: 20px;
}

.profiles {
  display:inline-flex;
  justify-content: space-around;
  margin: 20px 80px;
  padding: 10px;
}

.profile {
  flex-basis: 260px;
}
.profile .profile-img {
  height: 55%;
  width: 70%;
  border-radius: 100%;
  filter: grayscale(100%);
  cursor: pointer;
  transition: 400ms;
}

.profile:hover .profile-img {
  filter: grayscale(0);
}

.user-name {
  margin-top: 30px;
  font-size: 35px;
}

.profile h5 {
  font-size: 18px;
  font-weight: 100;
  letter-spacing: 3px;
  color: black;

}
.profile p {
  font-size: 16px;
  margin-top: 20px;
  text-align: justify;

}
@media only screen and (max-width:1150px) {
  .profiles {
    flex-direction: column;
  }
  .profile {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .profile p {
    text-align: center;
    margin: 20px 60px 80px 60px;
    font-size: 20px;
  }
}
@media only screen and (max-width: 900px) {
  .heading {
    font-size: 40px;
    color: white;
    text-align: center;
  }
  .heading span {
    font-size: 15px;
  }
  .profiles {
    margin: 20px 0;
  }
  .profile p {
    margin: 20px 10px 80px 10px;
  }
}

/* ==========================================================================
  #TEAM PROFILE OPTION 2 STYLING HERE
 ========================================================================== */

.teams-maxim {
  display: flex;
  background-color:#12172b;
  padding-top: 20px;
  padding-bottom: 20px;
  
}

.section-title {
  font-family: 'Syncopate', sans-serif;
  color: white;
  font-weight: bolder;
  font-size: 40px;
  background-color: #12172b;
  
}
.team img {
  height: auto;
  
}

.team .member {
  text-align: center;
  margin-bottom: 20px;
  background: #343a40;
  position: relative;
  overflow: hidden;
}
.team .member .member-info {
  opacity: 0;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  transition: 0.2s;
}
.team .member .member-info-content {
  position: absolute;
  left: 50px;
  right: 0;
  bottom: 0;
  transition: bottom 0.4s;
}
.team .member .member-info-content h4 {
  font-weight: 700;
  margin-bottom: 2px;
  font-size: 18px;
  color: #fff;
}
.team .member .member-info-content span {
  font-style: italic;
  display: block;
  font-size: 13px;
  color: #fff;
}
.team .member .social {
  position: absolute;
  left: -50px;
  top: 0;
  bottom: 0;
  width: 50px;
  transition: left ease-in-out 0.3s;
  background: rgba(0, 0, 0, 0.5);
  text-align: center;
}
.team .member .social a {
  transition: color 0.3s;
  display: block;
  color: #fff;
  margin-top: 15px;
}
.team .member .social a:hover {
  color: #1bac91;
}
.team .member .social i {
  font-size: 18px;
  margin: 0 2px;
}
.team .member:hover .member-info {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0.8) 20%, rgba(0, 212, 255, 0) 100%);
  opacity: 1;
  transition: 0.4s;
}
.team .member:hover .member-info-content {
  bottom: 30px;
  transition: bottom 0.4s;
}
.team .member:hover .social {
  left: 0;
  transition: left ease-in-out 0.3s;
}

/* ==========================================================================
#OUR STORY TIMELINE
========================================================================== */

.timelines h2 {
  text-align: center;
  color:  black;
  font-weight: 600;
  margin-bottom: 40px;
  font-size: 32px;
}
.d-flex-2 {
  display: flex;
  align-items: center;
}
.timeline-area {
  padding: 10px 0;
}
.all-timelines {
  position: relative;
}

.all-timelines::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  height: 100%;
  width: 2px;
  background: #efa22f;
  top: 20px;
}
.single-timeline {
  margin-bottom: 22px;
}
.timeline-blank {
  width: 50%;
}
.timeline-text {
  width: 50%;
  padding-left: 30px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
}
.timeline-text h6 {
  color:  black;
  font-weight: 900;
  display: inline-block;
  font-size: 1rem;
}
.timeline-text span {
  color:  black;
  display: block;
  width: 100%;
}
.single-timeline:nth-child(even) .timeline-text span {
  text-align: right;
}
.t-square {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  left: -6px;
  background: #efa22f;
}
.single-timeline:nth-child(even) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}
.single-timeline:nth-child(even) .t-square {
  right: -6px;
  left: unset;
}
.single-timeline:nth-child(even) .timeline-text {
  padding-left: 0;
  padding-right: 30px;
  text-align: right;
}

@media all and (max-width: 991px) {
}
@media all and (max-width: 768px) {
  .all-timelines::before {
    right: unset;
    top: 0;
  }
  .single-timeline:nth-child(2n) .timeline-text {
    padding-left: 30px;
    padding-right: 0;
    text-align: left;
  }
  .single-timeline:nth-child(2n) .t-square {
    left: -6px;
    right: unset;
  }
  .timeline-blank {
    display: none;
  }
  .timeline-text {
    width: 100%;
  }
  .single-timeline:nth-child(even) .timeline-text span {
    text-align: left !important;
  }
}
@media all and (max-width: 575px) {
}
@media all and (max-width: 360px) {
  .all-timelines::before {
    top: 32px;
  }
}

  /* ==========================================================================
    #News Header
    ========================================================================== */

    ol.breadcrumb {
      padding: 10px 16px;
      list-style: none;
      background-color: #EFAA52;
    }
    ol.breadcrumb li {
      position: relative;
      display: inline;
      font-size: 18px;
      background-color: #EFAA52;
    }
    ol.breadcrumb li a+li a:before {
      padding: 8px;
      color: black;
      content: "/\00a0";
    }
    ol.breadcrumb li a {
      color: #AB3E16;
      text-decoration: none;
    }
    ol.breadcrumb li a:hover {
      color: #48120E;
      text-decoration: underline;
    }

/* ==========================================================================
  #Back to top button credit to BootstrapMade
 ========================================================================== */
 #return-to-top {
  position: fixed;
  /* display: none; */
  width: 40px;
  height: 40px;
  border-radius: 3px;
  right: 15px;
  bottom: 15px;
  background: #1bac91;
  color: #fff;
  transition: display 0.5s ease-in-out;
  z-index: 99999;
}

#return-to-top i {
  font-size: 24px;
  position: absolute;
  top: 8px;
  left: 8px;
}

#return-to-top:hover {
  color: #fff;
  background: #18967e;
  transition: background 0.2s ease-in-out;
}

/* ==========================================================================
   #FOOTER STYLING STARTS HERE
   ========================================================================== */

   /* Credit to https://bootsnipp.com/snippets/bxDBA */
   
   .col_white_amrc { color: black;}
   footer { width:100%; background-color:#80A142; min-height:250px; padding:10px 0px 25px 0px ;}
   .pt2 { padding-top:40px ; margin-bottom:20px ;}
   footer p { font-size:13px; color:black; padding-bottom:0px; margin-bottom:8px;}
   .mb10 { padding-bottom:15px ;}
   .footer_ul_amrc { margin:0px ; list-style-type:none ; font-size:14px; padding:0px 0px 10px 0px ; }
   .footer_ul_amrc li {padding:0px 0px 5px 0px;}
   .footer_ul_amrc li a{ color:black}
   .footer_ul_amrc li a:hover{ color:black; text-decoration:none;}
   .fleft { float:left;}
   .padding-right { padding-right:10px; }
   
   .footer_ul2_amrc {margin:0px; list-style-type:none; padding:0px;}
   .footer_ul2_amrc li p { display:table; }
   .footer_ul2_amrc li a:hover { text-decoration:none;}
   .footer_ul2_amrc li i { margin-top:5px;}
   
   .fa-location-arrow {color:#0989d8;}
   .fa-phone {color:#0989d8;}
   .fa-envelope {color:#0989d8;}


   .bottom_border { border-bottom:2px solid; background-color:#80A142; padding-bottom:20px;}
   .foote_bottom_ul_amrc {
     list-style-type:none;
     padding:0px;
     display:table;
     margin-top: 10px;
     margin-right: auto;
     margin-bottom: 10px;
     margin-left: auto;
   }
   .foote_bottom_ul_amrc li { display:inline;}
   .foote_bottom_ul_amrc li a { color:#80A142; margin:0 12px;}
   
   .social_footer_ul { display:table; margin:15px auto 0 auto; list-style-type:none;  }
   .social_footer_ul li { padding-left:20px; padding-top:10px; float:left; }
   .social_footer_ul li a { color:#0989d8; border:1px solid #0989d8; padding:8px;border-radius:50%;}


